code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cover {
    background-image: url('./cover.jpeg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #e7e4db;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-color {
    background-color: #e4dcc7;
}

.login-hoverlink>ul :hover {
    display: "block";
}