code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cover {
    background-image: url('./cover1.svg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.medicalfil-cover {
    background-image: url('./cover3.svg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #e7e4db;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-color {
    background-color: #d3d2cf;
}

.login-hoverlink>ul :hover {
    display: "block";
}