code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cover {
    background-image: url('./cover1.svg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.medicalfil-cover {
    background-image: url('./cover3.svg');
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #e7e4db;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-color {
    background-color: #d3d2cf;
}

.login-hoverlink>ul :hover {
    display: "block";
}

.nav-text-hover :hover {
    background-color: #242121;
    color: white;
}

.footerspecific {
    background-color: #979393;
}

.admin-list {
    background-color: #e7e4db;
    border-color: #e7e4db;
}

.admin-list:hover {
    background-color: #c2bcbc;
}

.secondnavbarcolor {
    background-color: ivory;
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: 1s;
    box-shadow: #c2bcbc;
}

.chatbtn {
    position: fixed;
    font-size: 50px;
    margin-bottom: 10%;
}